transcript
*.wlf
work/*
lib/*
# Vivado spam files
*.jou
*.log
*.str
# Vivado project files and folders (We want to keep constraint files)
build/pong.*
# No compile files (might want to ver control these in the future, but not now)
src/no_compile